<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>nfl_blogs</key>
	<dict>
		<key>columnMap</key>
		<dict>
			<key>articleid</key>
			<string>article_id</string>
			<key>pubdate</key>
			<string>pub_date</string>
		</dict>
		<key>database</key>
		<string>players</string>
		<key>table</key>
		<string>nfl_blog</string>
	</dict>
	<key>nfl_editorweekranks</key>
	<dict>
		<key>columnMap</key>
		<dict>
			<key>esbid</key>
			<string>player_id</string>
			<key>editorid</key>
			<string>editor_id</string>
		</dict>
		<key>database</key>
		<string>players</string>
		<key>table</key>
		<string>nfl_editor_rank</string>
	</dict>
	<key>nfl_research</key>
	<dict>
		<key>columnMap</key>
		<dict>
			<key>esbid</key>
			<string>player_id</string>
		</dict>
		<key>database</key>
		<string>players</string>
		<key>table</key>
		<string>nfl_research</string>
	</dict>
	<key>nfl_editorials</key>
	<dict>
		<key>columnMap</key>
		<dict>
			<key>esbid</key>
			<string>player_id</string>
			<key>id</key>
			<string>editorial_id</string>
		</dict>
		<key>database</key>
		<string>players</string>
		<key>table</key>
		<string>nfl_editorial</string>
	</dict>
	<key>nfl_roster</key>
	<dict>
		<key>columnMap</key>
		<dict>
			<key>dob</key>
			<string>birthdate</string>
			<key>uniform</key>
			<string>jersey</string>
			<key>contract_year</key>
			<string>contract_year</string>
			<key>yearsofexperience</key>
			<string>experience</string>
			<key>firstname</key>
			<string>first_name</string>
			<key>lastname</key>
			<string>last_name</string>
			<key>photo_url</key>
			<string>photo_url</string>
			<key>position</key>
			<string>position</string>
			<key>esbid</key>
			<string>player_id</string>
			<key>teamabbr</key>
			<string>team_abbr</string>
			<key>collegename</key>
			<string>college</string>
		</dict>
		<key>database</key>
		<string>players</string>
		<key>table</key>
		<string>players</string>
	</dict>
	<key>nfl_statmap</key>
	<dict>
		<key>columnMap</key>
		<dict>
			<key>statid</key>
			<string>stat_id</string>
		</dict>
		<key>database</key>
		<string>players</string>
		<key>table</key>
		<string>stat_map</string>
	</dict>
	<key>aav</key>
	<dict>
		<key>columnMap</key>
		<dict>
			<key>esbid</key>
			<string>player_id</string>
		</dict>
		<key>database</key>
		<string>players</string>
		<key>table</key>
		<string>aav</string>
	</dict>
	<key>actual_stats</key>
	<dict>
		<key>autoCreateColumns</key>
		<true/>
		<key>columnMap</key>
		<dict>
			<key>week</key>
			<string>segment</string>
			<key>esbid</key>
			<string>player_id</string>
			<key>year</key>
			<string>year</string>
		</dict>
		<key>database</key>
		<string>players</string>
		<key>table</key>
		<string>actual_stats</string>
	</dict>
	<key>adp</key>
	<dict>
		<key>columnMap</key>
		<dict>
			<key>esbid</key>
			<string>player_id</string>
			<key>averagePick</key>
			<string>averagePick</string>
		</dict>
		<key>database</key>
		<string>players</string>
		<key>table</key>
		<string>adp</string>
	</dict>
	<key>consistency</key>
	<dict>
		<key>columnMap</key>
		<dict>
			<key>ctc</key>
			<string>ctc</string>
			<key>esbid</key>
			<string>player_id</string>
		</dict>
		<key>database</key>
		<string>players</string>
		<key>table</key>
		<string>consistency</string>
	</dict>
	<key>defensefpa</key>
	<dict>
		<key>columnMap</key>
		<dict/>
		<key>database</key>
		<string>players</string>
		<key>table</key>
		<string>defense_fpa</string>
	</dict>
	<key>depthchart</key>
	<dict>
		<key>columnMap</key>
		<dict>
			<key>esbid</key>
			<string>player_id</string>
			<key>teamabbr</key>
			<string>team_abbr</string>
			<key>depthposition</key>
			<string>depth_position</string>
			<key>displayposition</key>
			<string>position</string>
			<key>depthorder</key>
			<string>rank</string>
		</dict>
		<key>database</key>
		<string>players</string>
		<key>table</key>
		<string>depthchart</string>
	</dict>
	<key>injury</key>
	<dict>
		<key>columnMap</key>
		<dict>
			<key>injured</key>
			<string>injured</string>
			<key>injury_status</key>
			<string>injury_status</string>
			<key>injury_type</key>
			<string>injury_type</string>
			<key>esbid</key>
			<string>player_id</string>
		</dict>
		<key>database</key>
		<string>players</string>
		<key>table</key>
		<string>injury</string>
	</dict>
	<key>news</key>
	<dict>
		<key>columnMap</key>
		<dict>
			<key>analysis</key>
			<string>analysis</string>
			<key>date</key>
			<string>date</string>
			<key>injury_status</key>
			<string>injury_status</string>
			<key>injury_type</key>
			<string>injury_type</string>
			<key>priority</key>
			<string>priority</string>
			<key>source</key>
			<string>source</string>
			<key>esbid</key>
			<string>player_id</string>
			<key>updatednews</key>
			<string>news</string>
			<key>updateid</key>
			<string>update_id</string>
		</dict>
		<key>database</key>
		<string>players</string>
		<key>table</key>
		<string>player_news</string>
	</dict>
	<key>rotowire_news</key>
	<dict>
		<key>columnMap</key>
		<dict>
			<key>analysis</key>
			<string>analysis</string>
			<key>date</key>
			<string>date</string>
			<key>injury_status</key>
			<string>injury_status</string>
			<key>injury_type</key>
			<string>injury_type</string>
			<key>priority</key>
			<string>priority</string>
			<key>source</key>
			<string>source</string>
			<key>esbid</key>
			<string>player_id</string>
			<key>updatednews</key>
			<string>news</string>
			<key>updateid</key>
			<string>update_id</string>
		</dict>
		<key>database</key>
		<string>players</string>
		<key>table</key>
		<string>player_news</string>
	</dict>
	<key>rotowire_weeklyprojections</key>
	<dict>
		<key>autoCreateColumns</key>
		<false/>
		<key>columnMap</key>
		<dict>
			<key>esbid</key>
			<string>player_id</string>
			<key>statvalue</key>
			<string>stat_value</string>
			<key>statid</key>
			<string>stat_id</string>
			<key>timeinterval</key>
			<string>time_interval</string>
			<key>week</key>
			<string>week</string>
		</dict>
		<key>database</key>
		<string>players</string>
		<key>table</key>
		<string>projections_weekly</string>
	</dict>
	<key>rotowire_seasonprojections</key>
	<dict>
		<key>autoCreateColumns</key>
		<false/>
		<key>columnMap</key>
		<dict>
			<key>esbid</key>
			<string>player_id</string>
			<key>statvalue</key>
			<string>stat_value</string>
			<key>statid</key>
			<string>stat_id</string>
			<key>timeinterval</key>
			<string>time_interval</string>
		</dict>
		<key>database</key>
		<string>players</string>
		<key>table</key>
		<string>projections_season</string>
	</dict>
	<key>stats</key>
	<dict>
		<key>autoCreateColumns</key>
		<false/>
		<key>columnMap</key>
		<dict>
			<key>esbid</key>
			<string>player_id</string>
			<key>statvalue</key>
			<string>stat_value</string>
			<key>statid</key>
			<string>stat_id</string>
		</dict>
		<key>database</key>
		<string>players</string>
		<key>table</key>
		<string>stats_season</string>
	</dict>
	<key>projection_text</key>
	<dict>
		<key>columnMap</key>
		<dict>
			<key>projection_text</key>
			<string>projection_text</string>
			<key>roto_id</key>
			<string>player_id</string>
			<key>source</key>
			<string>source</string>
		</dict>
		<key>database</key>
		<string>players</string>
		<key>table</key>
		<string>projection_text</string>
	</dict>
	<key>rankings</key>
	<dict>
		<key>columnMap</key>
		<dict>
			<key>rank</key>
			<string>rank</string>
			<key>source</key>
			<string>source</string>
			<key>esbid</key>
			<string>player_id</string>
		</dict>
		<key>database</key>
		<string>players</string>
		<key>table</key>
		<string>rankings</string>
	</dict>
	<key>playermap</key>
	<dict>
		<key>columnMap</key>
		<dict>
			<key>stats_id</key>
			<string>stats_id</string>
			<key>eliasid</key>
			<string>elias_id</string>
			<key>gsisid</key>
			<string>gsis_id</string>
		</dict>
		<key>database</key>
		<string>players</string>
		<key>table</key>
		<string>player_id_map</string>
	</dict>
	<key>status</key>
	<dict>
		<key>columnMap</key>
		<dict>
			<key>api_key</key>
			<string>api_key</string>
			<key>update_id</key>
			<string>update_id</string>
		</dict>
		<key>database</key>
		<string>players</string>
		<key>table</key>
		<string>server_api_status</string>
	</dict>
	<key>schedule</key>
	<dict>
		<key>columnMap</key>
		<dict>
			<key>gamedate</key>
			<string>game_date</string>
			<key>gameid</key>
			<string>game_id</string>
			<key>gamekey</key>
			<string>game_key</string>
			<key>gametimeeastern</key>
			<string>game_time_eastern</string>
			<key>gametimelocal</key>
			<string>game_time_local</string>
			<key>hometeamabbr</key>
			<string>home_team_abbr</string>
			<key>hometeamdisplayname</key>
			<string>home_team_display_name</string>
			<key>hometeamid</key>
			<string>home_team_id</string>
			<key>networkchannel</key>
			<string>network_channel</string>
			<key>rooftype</key>
			<string>roof_type</string>
			<key>sitecity</key>
			<string>site_city</string>
			<key>sitefullname</key>
			<string>site_full_name</string>
			<key>sitestate</key>
			<string>site_state</string>
			<key>visitorteamabbr</key>
			<string>visitor_team_abbr</string>
			<key>visitorteamdisplayname</key>
			<string>visitor_team_display_name</string>
			<key>visitorteamid</key>
			<string>visitor_team_id</string>
			<key>week</key>
			<string>week</string>
		</dict>
		<key>database</key>
		<string>players</string>
		<key>table</key>
		<string>nfl_schedule</string>
	</dict>
</dict>
</plist>
