<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apiPath</key>
	<string>MyDraftapi15/</string>
	<key>k1</key>
	<string>290</string>
	<key>k2</key>
	<string>2015</string>
	<key>appConfigFileName</key>
	<string>AppConfig.plist</string>
	<key>appConfigShortName</key>
	<string>advisor</string>
	<key>applicationID</key>
	<string>00000000</string>
	<key>current_season</key>
	<integer>2015</integer>
	<key>customScoringFileName</key>
	<string>CustomScoring.plist</string>
	<key>customScoringUpdatesEnabled</key>
	<true/>
	<key>rotoCategoriesUpdatesEnabled</key>
	<true/>
	<key>rotoCategoriesFileName</key>
	<string>RotoCategories.plist</string>
	<key>database_players</key>
	<string>appDB.sqlite</string>
	<key>database_user</key>
	<string>user.sqlite</string>
	<key>defaultToCurrentWeek</key>
	<true/>
	<key>enableTestFlightTakeOff</key>
	<false/>
	<key>enableQuincyManager</key>
	<true/>
	<key>enableOmniture</key>
	<true/>
	<key>enableTestAPI</key>
	<false/>
	<key>filters</key>
	<dict>
		<key>leagues</key>
		<array>
			<dict>
				<key>title</key>
				<string>ALL NFL</string>
				<key>value</key>
				<string>nfl</string>
			</dict>
			<dict>
				<key>title</key>
				<string>AFC</string>
				<key>value</key>
				<string>afc</string>
			</dict>
			<dict>
				<key>title</key>
				<string>NFC</string>
				<key>value</key>
				<string>nfc</string>
			</dict>
		</array>
	</dict>
	<key>leagueDefaultSettings</key>
	<dict>
		<key>aavSalaryCap</key>
		<integer>200</integer>
		<key>auctionSalaryCap</key>
		<integer>260</integer>
		<key>draftType</key>
		<integer>0</integer>
		<key>leagueSize</key>
		<integer>12</integer>
		<key>maxLeagueSize</key>
		<integer>24</integer>
		<key>numOfRounds</key>
		<integer>16</integer>
		<key>draftByTeam</key>
		<true/>
	</dict>
	<key>onDemandNewsLimit</key>
	<integer>7</integer>
	<key>aavBaselineBudget</key>
	<integer>200</integer>
	<key>playerProfileNewsMaxPriority</key>
	<integer>3</integer>
	<key>primary_positions</key>
	<array>
		<string>QB</string>
		<string>RB</string>
		<string>FB</string>
		<string>WR</string>
		<string>TE</string>
		<string>K</string>
		<string>DEF</string>
	</array>
	<key>rosterLimitsFileName</key>
	<string>RosterLimits.plist</string>
	<key>processTeamDEFRankings</key>
	<true/>
	<key>sort</key>
	<array>
		<dict>
			<key>title</key>
			<string>Rankings</string>
			<key>values</key>
			<array>
				<dict>
					<key>column</key>
					<string>rank</string>
					<key>direction</key>
					<string>asc</string>
					<key>table</key>
					<string>rankings</string>
					<key>title</key>
					<string>dVBD</string>
				</dict>
				<dict>
					<key>column</key>
					<string>rank</string>
					<key>direction</key>
					<string>asc</string>
					<key>table</key>
					<string>rankings</string>
					<key>title</key>
					<string>Expert Rankings</string>
				</dict>
				<dict>
					<key>column</key>
					<string>rank</string>
					<key>database</key>
					<string>user</string>
					<key>direction</key>
					<string>asc</string>
					<key>table</key>
					<string>rankings</string>
					<key>title</key>
					<string>Manual Rankings</string>
				</dict>
				<dict>
					<key>column</key>
					<string>averagePick</string>
					<key>direction</key>
					<string>asc</string>
					<key>table</key>
					<string>adp</string>
					<key>title</key>
					<string>Average Draft Position</string>
				</dict>
				<dict>
					<key>column</key>
					<string>rank</string>
					<key>database</key>
					<string>user</string>
					<key>direction</key>
					<string>asc</string>
					<key>table</key>
					<string>rankings</string>
					<key>title</key>
					<string>Manual Rankings</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>Projection Stats</string>
			<key>values</key>
			<array>
				<dict>
					<key>column</key>
					<string>ptd</string>
					<key>direction</key>
					<string>desc</string>
					<key>table</key>
					<string>projections_passing</string>
					<key>title</key>
					<string>Passing TDs</string>
				</dict>
				<dict>
					<key>column</key>
					<string>pyd</string>
					<key>direction</key>
					<string>desc</string>
					<key>table</key>
					<string>projections_passing</string>
					<key>title</key>
					<string>Passing Yards</string>
				</dict>
				<dict>
					<key>column</key>
					<string>intt</string>
					<key>direction</key>
					<string>asc</string>
					<key>table</key>
					<string>projections_passing</string>
					<key>title</key>
					<string>Passing INTs</string>
				</dict>
				<dict>
					<key>column</key>
					<string>rtd</string>
					<key>direction</key>
					<string>desc</string>
					<key>table</key>
					<string>projections_rushing</string>
					<key>title</key>
					<string>Rushing TDs</string>
				</dict>
				<dict>
					<key>column</key>
					<string>ry</string>
					<key>direction</key>
					<string>desc</string>
					<key>table</key>
					<string>projections_rushing</string>
					<key>title</key>
					<string>Rushing Yards</string>
				</dict>
				<dict>
					<key>column</key>
					<string>retd</string>
					<key>direction</key>
					<string>desc</string>
					<key>table</key>
					<string>projections_receiving</string>
					<key>title</key>
					<string>Receiving TDs</string>
				</dict>
				<dict>
					<key>column</key>
					<string>rey</string>
					<key>direction</key>
					<string>desc</string>
					<key>table</key>
					<string>projections_receiving</string>
					<key>title</key>
					<string>Receiving Yards</string>
				</dict>
				<dict>
					<key>column</key>
					<string>defrettd</string>
					<key>direction</key>
					<string>desc</string>
					<key>table</key>
					<string>projections_defense</string>
					<key>title</key>
					<string>Defensive TDs</string>
				</dict>
				<dict>
					<key>column</key>
					<string>fg</string>
					<key>direction</key>
					<string>desc</string>
					<key>table</key>
					<string>projections_kicking</string>
					<key>title</key>
					<string>Field Goals</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>sports_league</key>
	<string>nfl</string>
	<key>idp_positions</key>
	<array>
		<string>DT1</string>
		<string>DT2</string>
		<string>DE1</string>
		<string>DE2</string>
		<string>OLB1</string>
		<string>OLB2</string>
		<string>ILB1</string>
		<string>ILB2</string>
		<string>CB1</string>
		<string>CB2</string>
		<string>FS</string>
		<string>SS</string>
	</array>
	<key>standard_positions</key>
	<array>
		<string>QB</string>
		<string>RB</string>
		<string>FB</string>
		<string>WR</string>
		<string>TE</string>
		<string>K</string>
		<string>DEF</string>
		<string>KR</string>
		<string>PR</string>
	</array>
	<key>special_teams_positions</key>
	<array>
		<string>PR</string>
		<string>KR</string>
	</array>
	<key>team_position</key>
	<array>
		<string>DEF</string>
	</array>
	<key>tiers</key>
	<dict>
		<key>points</key>
		<dict>
			<key>CB1</key>
			<array>
				<real>0.88</real>
				<real>0.68</real>
				<real>0.48</real>
				<real>0.28</real>
				<real>0.15</real>
			</array>
			<key>CB2</key>
			<array>
				<real>0.88</real>
				<real>0.68</real>
				<real>0.48</real>
				<real>0.28</real>
				<real>0.15</real>
			</array>
			<key>DE1</key>
			<array>
				<real>0.88</real>
				<real>0.68</real>
				<real>0.48</real>
				<real>0.28</real>
				<real>0.15</real>
			</array>
			<key>DE2</key>
			<array>
				<real>0.88</real>
				<real>0.68</real>
				<real>0.48</real>
				<real>0.28</real>
				<real>0.15</real>
			</array>
			<key>DEF</key>
			<array>
				<real>0.92</real>
				<real>0.84</real>
				<real>0.75</real>
				<real>0.65</real>
				<real>0.01</real>
			</array>
			<key>DT1</key>
			<array>
				<real>0.88</real>
				<real>0.68</real>
				<real>0.48</real>
				<real>0.28</real>
				<real>0.15</real>
			</array>
			<key>DT2</key>
			<array>
				<real>0.88</real>
				<real>0.68</real>
				<real>0.48</real>
				<real>0.28</real>
				<real>0.15</real>
			</array>
			<key>K</key>
			<array>
				<real>0.92</real>
				<real>0.84</real>
				<real>0.76</real>
				<real>0.68</real>
				<real>0.01</real>
			</array>
			<key>ILB1</key>
			<array>
				<real>0.88</real>
				<real>0.68</real>
				<real>0.48</real>
				<real>0.28</real>
				<real>0.15</real>
			</array>
			<key>ILB2</key>
			<array>
				<real>0.88</real>
				<real>0.68</real>
				<real>0.48</real>
				<real>0.28</real>
				<real>0.15</real>
			</array>
			<key>OLB1</key>
			<array>
				<real>0.88</real>
				<real>0.68</real>
				<real>0.48</real>
				<real>0.28</real>
				<real>0.15</real>
			</array>
			<key>OLB2</key>
			<array>
				<real>0.88</real>
				<real>0.68</real>
				<real>0.48</real>
				<real>0.28</real>
				<real>0.15</real>
			</array>
			<key>QB</key>
			<array>
				<real>0.88</real>
				<real>0.75</real>
				<real>0.63</real>
				<real>0.49</real>
				<real>0.34</real>
				<real>0.18</real>
				<real>0.01</real>
			</array>
			<key>RB</key>
			<array>
				<real>0.88</real>
				<real>0.77</real>
				<real>0.66</real>
				<real>0.54</real>
				<real>0.41</real>
				<real>0.27</real>
				<real>0.15</real>
				<real>0.01</real>
			</array>
			<key>FB</key>
			<array>
				<real>0.88</real>
				<real>0.77</real>
				<real>0.66</real>
				<real>0.54</real>
				<real>0.41</real>
				<real>0.27</real>
				<real>0.15</real>
				<real>0.01</real>
			</array>
			<key>SS</key>
			<array>
				<real>0.88</real>
				<real>0.68</real>
				<real>0.48</real>
				<real>0.28</real>
				<real>0.15</real>
			</array>
			<key>FS</key>
			<array>
				<real>0.88</real>
				<real>0.68</real>
				<real>0.48</real>
				<real>0.28</real>
				<real>0.15</real>
			</array>
			<key>TE</key>
			<array>
				<real>0.88</real>
				<real>0.68</real>
				<real>0.48</real>
				<real>0.28</real>
				<real>0.15</real>
				<real>0.05</real>
				<real>0.01</real>
			</array>
			<key>WR</key>
			<array>
				<real>0.9</real>
				<real>0.795</real>
				<real>0.68</real>
				<real>0.5600000000000001</real>
				<real>0.43</real>
				<real>0.3</real>
				<real>0.17</real>
				<real>0.08</real>
				<real>0.01</real>
			</array>
		</dict>
		<key>aav</key>
		<dict>
			<key>CB</key>
			<array>
				<real>0.88</real>
				<real>0.68</real>
				<real>0.48</real>
				<real>0.28</real>
				<real>0.15</real>
			</array>
			<key>DE</key>
			<array>
				<real>0.88</real>
				<real>0.68</real>
				<real>0.48</real>
				<real>0.28</real>
				<real>0.15</real>
			</array>
			<key>DEF</key>
			<array>
				<real>0.88</real>
				<real>0.68</real>
				<real>0.48</real>
				<real>0.28</real>
				<real>0.15</real>
			</array>
			<key>DT</key>
			<array>
				<real>0.88</real>
				<real>0.68</real>
				<real>0.48</real>
				<real>0.28</real>
				<real>0.15</real>
			</array>
			<key>LB</key>
			<array>
				<real>0.88</real>
				<real>0.68</real>
				<real>0.48</real>
				<real>0.28</real>
				<real>0.15</real>
			</array>
			<key>PK</key>
			<array>
				<real>0.88</real>
				<real>0</real>
			</array>
			<key>QB</key>
			<array>
				<real>0.88</real>
				<real>0.68</real>
				<real>0.48</real>
				<real>0.28</real>
				<real>0.15</real>
				<real>0.05</real>
				<real>0.01</real>
			</array>
			<key>RB</key>
			<array>
				<real>0.88</real>
				<real>0.68</real>
				<real>0.48</real>
				<real>0.28</real>
				<real>0.15</real>
				<real>0.05</real>
				<real>0.01</real>
			</array>
			<key>S</key>
			<array>
				<real>0.88</real>
				<real>0.68</real>
				<real>0.48</real>
				<real>0.28</real>
				<real>0.15</real>
			</array>
			<key>TE</key>
			<array>
				<real>0.88</real>
				<real>0.68</real>
				<real>0.48</real>
				<real>0.28</real>
				<real>0.15</real>
				<real>0.05</real>
				<real>0.01</real>
			</array>
			<key>WR</key>
			<array>
				<real>0.88</real>
				<real>0.68</real>
				<real>0.48</real>
				<real>0.28</real>
				<real>0.15</real>
				<real>0.05</real>
				<real>0.01</real>
			</array>
		</dict>
		<key>adp</key>
		<dict>
			<key>CB</key>
			<array>
				<integer>12</integer>
				<integer>36</integer>
				<integer>50</integer>
				<integer>64</integer>
				<integer>78</integer>
			</array>
			<key>DE</key>
			<array>
				<integer>12</integer>
				<integer>36</integer>
				<integer>50</integer>
				<integer>64</integer>
				<integer>78</integer>
			</array>
			<key>DEF</key>
			<array>
				<integer>12</integer>
				<integer>36</integer>
				<integer>50</integer>
				<integer>64</integer>
				<integer>78</integer>
			</array>
			<key>DT</key>
			<array>
				<integer>12</integer>
				<integer>36</integer>
				<integer>50</integer>
				<integer>64</integer>
				<integer>78</integer>
			</array>
			<key>LB</key>
			<array>
				<integer>12</integer>
				<integer>36</integer>
				<integer>50</integer>
				<integer>64</integer>
				<integer>78</integer>
			</array>
			<key>PK</key>
			<array>
				<integer>68</integer>
				<integer>10001</integer>
			</array>
			<key>QB</key>
			<array>
				<integer>12</integer>
				<integer>24</integer>
				<integer>36</integer>
				<integer>48</integer>
				<integer>60</integer>
			</array>
			<key>RB</key>
			<array>
				<integer>12</integer>
				<integer>36</integer>
				<integer>50</integer>
				<integer>64</integer>
				<integer>78</integer>
			</array>
			<key>S</key>
			<array>
				<integer>12</integer>
				<integer>36</integer>
				<integer>50</integer>
				<integer>64</integer>
				<integer>78</integer>
			</array>
			<key>TE</key>
			<array>
				<integer>12</integer>
				<integer>36</integer>
				<integer>50</integer>
				<integer>64</integer>
				<integer>78</integer>
			</array>
			<key>WR</key>
			<array>
				<integer>12</integer>
				<integer>36</integer>
				<integer>50</integer>
				<integer>64</integer>
				<integer>78</integer>
			</array>
		</dict>
	</dict>
	<key>proTeamColors</key>
	<dict>
		<key>ARI</key>
		<dict>
			<key>primary</key>
			<dict>
				<key>blue</key>
				<integer>39</integer>
				<key>green</key>
				<integer>0</integer>
				<key>red</key>
				<integer>135</integer>
			</dict>
		</dict>
		<key>ATL</key>
		<dict>
			<key>primary_black</key>
			<dict>
				<key>blue</key>
				<integer>0</integer>
				<key>green</key>
				<integer>0</integer>
				<key>red</key>
				<integer>0</integer>
			</dict>
			<key>primary</key>
			<dict>
				<key>blue</key>
				<integer>45</integer>
				<key>green</key>
				<integer>13</integer>
				<key>red</key>
				<integer>163</integer>
			</dict>
		</dict>
		<key>BAL</key>
		<dict>
			<key>primary</key>
			<dict>
				<key>blue</key>
				<integer>0</integer>
				<key>green</key>
				<integer>0</integer>
				<key>red</key>
				<integer>0</integer>
			</dict>
			<key>primary - 2</key>
			<dict>
				<key>blue</key>
				<integer>95</integer>
				<key>green</key>
				<integer>25</integer>
				<key>red</key>
				<integer>26</integer>
			</dict>
		</dict>
		<key>BUF</key>
		<dict>
			<key>navy</key>
			<dict>
				<key>blue</key>
				<integer>28</integer>
				<key>green</key>
				<integer>7</integer>
				<key>red</key>
				<integer>0</integer>
			</dict>
			<key>primary</key>
			<dict>
				<key>blue</key>
				<integer>130</integer>
				<key>green</key>
				<integer>46</integer>
				<key>red</key>
				<integer>12</integer>
			</dict>
			<key>red</key>
			<dict>
				<key>blue</key>
				<integer>10</integer>
				<key>green</key>
				<integer>10</integer>
				<key>red</key>
				<integer>213</integer>
			</dict>
		</dict>
		<key>CAR</key>
		<dict>
			<key>primary</key>
			<dict>
				<key>blue</key>
				<integer>184</integer>
				<key>green</key>
				<integer>124</integer>
				<key>red</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>CHI</key>
		<dict>
			<key>primary</key>
			<dict>
				<key>blue</key>
				<integer>42</integer>
				<key>green</key>
				<integer>22</integer>
				<key>red</key>
				<integer>11</integer>
			</dict>
		</dict>
		<key>CIN</key>
		<dict>
			<key>orange</key>
			<dict>
				<key>blue</key>
				<integer>30</integer>
				<key>green</key>
				<integer>47</integer>
				<key>red</key>
				<integer>211</integer>
			</dict>
			<key>primary</key>
			<dict>
				<key>blue</key>
				<integer>0</integer>
				<key>green</key>
				<integer>0</integer>
				<key>red</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>CLE</key>
		<dict>
			<key>primary</key>
			<dict>
				<key>blue</key>
				<integer>12</integer>
				<key>green</key>
				<integer>21</integer>
				<key>red</key>
				<integer>34</integer>
			</dict>
		</dict>
		<key>DAL</key>
		<dict>
			<key>primary_silver</key>
			<dict>
				<key>blue</key>
				<integer>191</integer>
				<key>green</key>
				<integer>192</integer>
				<key>red</key>
				<integer>191</integer>
			</dict>
			<key>primary</key>
			<dict>
				<key>blue</key>
				<integer>50</integer>
				<key>green</key>
				<integer>21</integer>
				<key>red</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>DEN</key>
		<dict>
			<key>primary</key>
			<dict>
				<key>blue</key>
				<integer>76</integer>
				<key>green</key>
				<integer>35</integer>
				<key>red</key>
				<integer>0</integer>
			</dict>
			<key>primary_orange</key>
			<dict>
				<key>blue</key>
				<integer>0</integer>
				<key>green</key>
				<integer>82</integer>
				<key>red</key>
				<integer>255</integer>
			</dict>
		</dict>
		<key>DET</key>
		<dict>
			<key>primary</key>
			<dict>
				<key>blue</key>
				<integer>137</integer>
				<key>green</key>
				<integer>78</integer>
				<key>red</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>GB</key>
		<dict>
			<key>primary</key>
			<dict>
				<key>blue</key>
				<integer>37</integer>
				<key>green</key>
				<integer>45</integer>
				<key>red</key>
				<integer>28</integer>
			</dict>
		</dict>
		<key>HOU</key>
		<dict>
			<key>primary</key>
			<dict>
				<key>blue</key>
				<integer>45</integer>
				<key>green</key>
				<integer>13</integer>
				<key>red</key>
				<integer>163</integer>
			</dict>
		</dict>
		<key>IND</key>
		<dict>
			<key>primary</key>
			<dict>
				<key>blue</key>
				<integer>105</integer>
				<key>green</key>
				<integer>51</integer>
				<key>red</key>
				<integer>1</integer>
			</dict>
		</dict>
		<key>JAX</key>
		<dict>
			<key>primary</key>
			<dict>
				<key>blue</key>
				<integer>118</integer>
				<key>green</key>
				<integer>101</integer>
				<key>red</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>KC</key>
		<dict>
			<key>primary</key>
			<dict>
				<key>blue</key>
				<integer>45</integer>
				<key>green</key>
				<integer>13</integer>
				<key>red</key>
				<integer>163</integer>
			</dict>
		</dict>
		<key>MIA</key>
		<dict>
			<key>primary</key>
			<dict>
				<key>blue</key>
				<integer>75</integer>
				<key>green</key>
				<integer>79</integer>
				<key>red</key>
				<integer>0</integer>
			</dict>
			<key>primary2</key>
			<dict>
				<key>blue</key>
				<integer>29</integer>
				<key>green</key>
				<integer>69</integer>
				<key>red</key>
				<integer>215</integer>
			</dict>
		</dict>
		<key>MIN</key>
		<dict>
			<key>primary</key>
			<dict>
				<key>blue</key>
				<integer>90</integer>
				<key>green</key>
				<integer>23</integer>
				<key>red</key>
				<integer>38</integer>
			</dict>
			<key>secondary</key>
			<dict>
				<key>blue</key>
				<integer>18</integer>
				<key>green</key>
				<integer>182</integer>
				<key>red</key>
				<integer>255</integer>
			</dict>
		</dict>
		<key>NE</key>
		<dict>
			<key>primary2</key>
			<dict>
				<key>blue</key>
				<integer>10</integer>
				<key>green</key>
				<integer>10</integer>
				<key>red</key>
				<integer>213</integer>
			</dict>
			<key>primary</key>
			<dict>
				<key>blue</key>
				<integer>50</integer>
				<key>green</key>
				<integer>21</integer>
				<key>red</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>NO</key>
		<dict>
			<key>primary</key>
			<dict>
				<key>blue</key>
				<integer>93</integer>
				<key>green</key>
				<integer>146</integer>
				<key>red</key>
				<integer>175</integer>
			</dict>
		</dict>
		<key>NYG</key>
		<dict>
			<key>primary</key>
			<dict>
				<key>blue</key>
				<integer>82</integer>
				<key>green</key>
				<integer>35</integer>
				<key>red</key>
				<integer>1</integer>
			</dict>
		</dict>
		<key>NYJ</key>
		<dict>
			<key>primary</key>
			<dict>
				<key>blue</key>
				<integer>37</integer>
				<key>green</key>
				<integer>45</integer>
				<key>red</key>
				<integer>28</integer>
			</dict>
		</dict>
		<key>OAK</key>
		<dict>
			<key>primary</key>
			<dict>
				<key>blue</key>
				<integer>0</integer>
				<key>green</key>
				<integer>0</integer>
				<key>red</key>
				<integer>0</integer>
			</dict>
			<key>secondary</key>
			<dict>
				<key>blue</key>
				<integer>176</integer>
				<key>green</key>
				<integer>174</integer>
				<key>red</key>
				<integer>166</integer>
			</dict>
		</dict>
		<key>PHI</key>
		<dict>
			<key>primary</key>
			<dict>
				<key>blue</key>
				<integer>53</integer>
				<key>green</key>
				<integer>49</integer>
				<key>red</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>PIT</key>
		<dict>
			<key>primary</key>
			<dict>
				<key>blue</key>
				<integer>0</integer>
				<key>green</key>
				<integer>0</integer>
				<key>red</key>
				<integer>0</integer>
			</dict>
			<key>secondary</key>
			<dict>
				<key>blue</key>
				<integer>30</integer>
				<key>green</key>
				<integer>30</integer>
				<key>red</key>
				<integer>30</integer>
			</dict>
		</dict>
		<key>SD</key>
		<dict>
			<key>primary</key>
			<dict>
				<key>blue</key>
				<integer>197</integer>
				<key>green</key>
				<integer>128</integer>
				<key>red</key>
				<integer>0</integer>
			</dict>
			<key>secondary</key>
			<dict>
				<key>blue</key>
				<integer>50</integer>
				<key>green</key>
				<integer>21</integer>
				<key>red</key>
				<integer>0</integer>
			</dict>
			<key>tertiary</key>
			<dict>
				<key>blue</key>
				<integer>30</integer>
				<key>green</key>
				<integer>173</integer>
				<key>red</key>
				<integer>238</integer>
			</dict>
		</dict>
		<key>SEA</key>
		<dict>
			<key>primary</key>
			<dict>
				<key>blue</key>
				<integer>90</integer>
				<key>green</key>
				<integer>61</integer>
				<key>red</key>
				<integer>33</integer>
			</dict>
			<key>dark navy</key>
			<dict>
				<key>blue</key>
				<integer>28</integer>
				<key>green</key>
				<integer>7</integer>
				<key>red</key>
				<integer>0</integer>
			</dict>
			<key>green</key>
			<dict>
				<key>blue</key>
				<integer>52</integer>
				<key>green</key>
				<integer>163</integer>
				<key>red</key>
				<integer>62</integer>
			</dict>
		</dict>
		<key>SF</key>
		<dict>
			<key>primary</key>
			<dict>
				<key>blue</key>
				<integer>62</integer>
				<key>green</key>
				<integer>9</integer>
				<key>red</key>
				<integer>184</integer>
			</dict>
			<key>secondary</key>
			<dict>
				<key>blue</key>
				<integer>93</integer>
				<key>green</key>
				<integer>146</integer>
				<key>red</key>
				<integer>175</integer>
			</dict>
		</dict>
		<key>STL</key>
		<dict>
			<key>primary</key>
			<dict>
				<key>blue</key>
				<integer>50</integer>
				<key>green</key>
				<integer>21</integer>
				<key>red</key>
				<integer>0</integer>
			</dict>
			<key>gold</key>
			<dict>
				<key>blue</key>
				<integer>93</integer>
				<key>green</key>
				<integer>146</integer>
				<key>red</key>
				<integer>175</integer>
			</dict>
		</dict>
		<key>TB</key>
		<dict>
			<key>red</key>
			<dict>
				<key>blue</key>
				<integer>45</integer>
				<key>green</key>
				<integer>13</integer>
				<key>red</key>
				<integer>163</integer>
			</dict>
			<key>primary</key>
			<dict>
				<key>blue</key>
				<integer>75</integer>
				<key>green</key>
				<integer>89</integer>
				<key>red</key>
				<integer>100</integer>
			</dict>
		</dict>
		<key>TEN</key>
		<dict>
			<key>primary</key>
			<dict>
				<key>blue</key>
				<integer>210</integer>
				<key>green</key>
				<integer>149</integer>
				<key>red</key>
				<integer>68</integer>
			</dict>
			<key>secondary</key>
			<dict>
				<key>blue</key>
				<integer>50</integer>
				<key>green</key>
				<integer>21</integer>
				<key>red</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>WAS</key>
		<dict>
			<key>primary</key>
			<dict>
				<key>blue</key>
				<integer>16</integer>
				<key>green</key>
				<integer>16</integer>
				<key>red</key>
				<integer>63</integer>
			</dict>
			<key>gold</key>
			<dict>
				<key>blue</key>
				<integer>30</integer>
				<key>green</key>
				<integer>173</integer>
				<key>red</key>
				<integer>238</integer>
			</dict>
		</dict>
	</dict>
	<key>nonStatColumns</key>
	<array>
		<string>player_id</string>
		<string>year</string>
		<string>segment</string>
		<string>source</string>
	</array>
	<key>useProLeagueLogos</key>
	<true/>
	<key>position_colors</key>
	<dict>
		<key>QB</key>
		<string>0055AA</string>
		<key>RB</key>
		<string>FF2222</string>
		<key>FB</key>
		<string>FF3333</string>
		<key>WR</key>
		<string>CCCC33</string>
		<key>TE</key>
		<string>00994C</string>
		<key>K</key>
		<string>99CCFF</string>
		<key>DEF</key>
		<string>3399FF</string>
	</dict>
	<key>sponsor</key>
	<dict>
		<key>enabled</key>
		<false/>
		<key>trackerURL</key>
		<string>http://ad.doubleclick.net/ad/N6054.nfl.com/B7762535.48;sz=1x1;pc=[TPAS_ID];ord=[timestamp]?</string>
		<key>displayURL</key>
		<string>http://ad.doubleclick.net/clk;274312986;100786565;p;pc=[TPAS_ID]</string>
		<key>clickThroughURL</key>
		<string>http://ad.doubleclick.net/clk;274312986;100786565;p;pc=[TPAS_ID]</string>
		<key>splashScreenDuration</key>
		<real>2.5</real>
	</dict>
	<key>season_first_sunday</key>
	<date>2013-09-08T05:00:00Z</date>
	<key>season_weeks</key>
	<array>
		<dict>
			<key>start_date</key>
			<date>2013-08-28T10:36:17Z</date>
			<key>week</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>start_date</key>
			<date>2013-09-10T17:00:00Z</date>
			<key>week</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>start_date</key>
			<date>2013-09-17T17:00:00Z</date>
			<key>week</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>start_date</key>
			<date>2013-09-24T17:00:00Z</date>
			<key>week</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>start_date</key>
			<date>2013-10-01T17:00:00Z</date>
			<key>week</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>start_date</key>
			<date>2013-10-07T17:00:00Z</date>
			<key>week</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>start_date</key>
			<date>2013-10-14T17:00:00Z</date>
			<key>week</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>start_date</key>
			<date>2013-10-21T17:00:00Z</date>
			<key>week</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>start_date</key>
			<date>2013-10-28T17:00:00Z</date>
			<key>week</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>start_date</key>
			<date>2013-11-04T18:00:00Z</date>
			<key>week</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>start_date</key>
			<date>2013-11-11T18:00:00Z</date>
			<key>week</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>start_date</key>
			<date>2013-11-18T18:00:00Z</date>
			<key>week</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>start_date</key>
			<date>2013-11-21T18:00:00Z</date>
			<key>week</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>start_date</key>
			<date>2013-11-26T18:00:00Z</date>
			<key>week</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>start_date</key>
			<date>2013-12-03T18:00:00Z</date>
			<key>week</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>start_date</key>
			<date>2013-08-28T10:36:17Z</date>
			<key>week</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>start_date</key>
			<date>2013-08-28T10:36:17Z</date>
			<key>week</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>showContractStatus</key>
	<false/>
	<key>usePlayerPhotos</key>
	<true/>
	<key>useTeamPrimaryColor</key>
	<false/>
	<key>supportEmail</key>
	<string>support@290design.com</string>
	<key>weeklyProjectionsEnabled</key>
	<false/>
	<key>applicationReviewURL</key>
	<string>itms-apps://ax.itunes.apple.com/WebObjects/MZStore.woa/wa/viewContentsUserReviews?type=Purple+Software&amp;id=</string>
	<key>forceDBColumnUpdate</key>
	<false/>
	<key>gridiron</key>
	<false/>
	<key>useAdjustedVBD</key>
	<true/>
	<key>adpVBDAdjustmentRatio</key>
	<real>0.5</real>
	<key>shortAppTitle</key>
	<string>NFL Fantasy Advisor</string>
	<key>rotowire_timezone</key>
	<string>PST</string>
	<key>showColorCodedPositionStatus</key>
	<false/>
	<key>airplay_enabled</key>
	<false/>
</dict>
</plist>
