<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>depthchart</key>
	<array>
		<dict>
			<key>positions</key>
			<array>
				<string>QB</string>
			</array>
			<key>title</key>
			<string>Quarterback</string>
		</dict>
		<dict>
			<key>positions</key>
			<array>
				<string>RB</string>
			</array>
			<key>title</key>
			<string>Running Back</string>
		</dict>
		<dict>
			<key>positions</key>
			<array>
				<string>FB</string>
			</array>
			<key>title</key>
			<string>Fullback</string>
		</dict>
		<dict>
			<key>positions</key>
			<array>
				<string>WR</string>
			</array>
			<key>title</key>
			<string>Wide Receiver</string>
		</dict>
		<dict>
			<key>positions</key>
			<array>
				<string>TE</string>
			</array>
			<key>title</key>
			<string>Tightend</string>
		</dict>
		<dict>
			<key>positions</key>
			<array>
				<string>K</string>
			</array>
			<key>title</key>
			<string>Kicker</string>
		</dict>
		<dict>
			<key>positions</key>
			<array>
				<string>DE1</string>
			</array>
			<key>title</key>
			<string>Defensive End 1</string>
		</dict>
		<dict>
			<key>positions</key>
			<array>
				<string>DE2</string>
			</array>
			<key>title</key>
			<string>Defensive End 2</string>
		</dict>
		<dict>
			<key>positions</key>
			<array>
				<string>DT1</string>
			</array>
			<key>title</key>
			<string>Defensive Tackle 1</string>
		</dict>
		<dict>
			<key>positions</key>
			<array>
				<string>DT2</string>
			</array>
			<key>title</key>
			<string>Defensive Tackle 2</string>
		</dict>
		<dict>
			<key>positions</key>
			<array>
				<string>ILB1</string>
			</array>
			<key>title</key>
			<string>Inside Linebacker 1</string>
		</dict>
		<dict>
			<key>positions</key>
			<array>
				<string>ILB2</string>
			</array>
			<key>title</key>
			<string>Inside Linebacker 2</string>
		</dict>
		<dict>
			<key>positions</key>
			<array>
				<string>OLB1</string>
			</array>
			<key>title</key>
			<string>Outside Linebacker 1</string>
		</dict>
		<dict>
			<key>positions</key>
			<array>
				<string>OLB2</string>
			</array>
			<key>title</key>
			<string>Outside Linebacker 2</string>
		</dict>
		<dict>
			<key>positions</key>
			<array>
				<string>CB1</string>
			</array>
			<key>title</key>
			<string>Cornerback 1</string>
		</dict>
		<dict>
			<key>positions</key>
			<array>
				<string>CB2</string>
			</array>
			<key>title</key>
			<string>Cornerback 2</string>
		</dict>
		<dict>
			<key>positions</key>
			<array>
				<string>FS</string>
			</array>
			<key>title</key>
			<string>Free Safety</string>
		</dict>
		<dict>
			<key>positions</key>
			<array>
				<string>SS</string>
			</array>
			<key>title</key>
			<string>Strong Safety</string>
		</dict>
	</array>
	<key>draft_summary</key>
	<array>
		<dict>
			<key>alwaysActive</key>
			<true/>
			<key>positions</key>
			<array>
				<string>QB</string>
				<string>RB</string>
				<string>WR</string>
				<string>TE</string>
				<string>DEF</string>
				<string>K</string>
				<string>CB1</string>
				<string>CB2</string>
				<string>FS</string>
				<string>SS</string>
				<string>DE1</string>
				<string>DE2</string>
				<string>DT1</string>
				<string>ILB1</string>
				<string>ILB2</string>
				<string>OLB1</string>
				<string>OLB2</string>
			</array>
			<key>title</key>
			<string>All Positions</string>
		</dict>
		<dict>
			<key>alwaysActive</key>
			<true/>
			<key>positions</key>
			<array>
				<string>QB</string>
			</array>
			<key>title</key>
			<string>Quarterbacks</string>
		</dict>
		<dict>
			<key>alwaysActive</key>
			<true/>
			<key>positions</key>
			<array>
				<string>RB</string>
				<string>FB</string>
			</array>
			<key>title</key>
			<string>Running Backs</string>
		</dict>
		<dict>
			<key>positions</key>
			<array>
				<string>WR</string>
			</array>
			<key>showCombinedWRTE</key>
			<false/>
			<key>title</key>
			<string>Wide Receivers</string>
		</dict>
		<dict>
			<key>positions</key>
			<array>
				<string>TE</string>
			</array>
			<key>showCombinedWRTE</key>
			<false/>
			<key>title</key>
			<string>Tight Ends</string>
		</dict>
		<dict>
			<key>positions</key>
			<array>
				<string>TE</string>
				<string>WR</string>
			</array>
			<key>showCombinedWRTE</key>
			<true/>
			<key>title</key>
			<string>Wide Receivers / Tight Ends</string>
		</dict>
		<dict>
			<key>alwaysActive</key>
			<true/>
			<key>positions</key>
			<array>
				<string>K</string>
			</array>
			<key>title</key>
			<string>Kickers</string>
		</dict>
		<dict>
			<key>alwaysActive</key>
			<true/>
			<key>positions</key>
			<array>
				<string>DEF</string>
			</array>
			<key>title</key>
			<string>Team Defenses / ST</string>
		</dict>
		<dict>
			<key>positions</key>
			<array>
				<string>DT1</string>
				<string>DT2</string>
				<string>DE1</string>
				<string>DE2</string>
			</array>
			<key>title</key>
			<string>Defensive Linemen</string>
		</dict>
		<dict>
			<key>positions</key>
			<array>
				<string>ILB1</string>
				<string>ILB2</string>
				<string>OLB1</string>
				<string>OLB2</string>
			</array>
			<key>title</key>
			<string>Linebackers</string>
		</dict>
		<dict>
			<key>positions</key>
			<array>
				<string>CB1</string>
				<string>CB2</string>
				<string>FS</string>
				<string>SS</string>
			</array>
			<key>title</key>
			<string>Defensive Backs</string>
		</dict>
	</array>
	<key>custom_scoring</key>
	<array>
		<dict>
			<key>positions</key>
			<array>
				<string>QB</string>
			</array>
			<key>title</key>
			<string>Quarterbacks</string>
		</dict>
		<dict>
			<key>positions</key>
			<array>
				<string>RB</string>
				<string>FB</string>
			</array>
			<key>title</key>
			<string>Running Backs</string>
		</dict>
		<dict>
			<key>positions</key>
			<array>
				<string>WR</string>
			</array>
			<key>title</key>
			<string>Wide Receivers</string>
		</dict>
		<dict>
			<key>positions</key>
			<array>
				<string>TE</string>
			</array>
			<key>title</key>
			<string>Tight Ends</string>
		</dict>
		<dict>
			<key>positions</key>
			<array>
				<string>K</string>
			</array>
			<key>title</key>
			<string>Kickers</string>
		</dict>
		<dict>
			<key>positions</key>
			<array>
				<string>DEF</string>
			</array>
			<key>title</key>
			<string>Team Defenses / ST</string>
		</dict>
		<dict>
			<key>positions</key>
			<array>
				<string>DT1</string>
				<string>DT2</string>
				<string>DE1</string>
				<string>DE2</string>
			</array>
			<key>title</key>
			<string>Defensive Linemen</string>
		</dict>
		<dict>
			<key>positions</key>
			<array>
				<string>ILB1</string>
				<string>ILB2</string>
				<string>OLB1</string>
				<string>OLB2</string>
			</array>
			<key>title</key>
			<string>Linebackers</string>
		</dict>
		<dict>
			<key>positions</key>
			<array>
				<string>CB1</string>
				<string>CB2</string>
				<string>FS</string>
				<string>SS</string>
			</array>
			<key>title</key>
			<string>Defensive Backs</string>
		</dict>
	</array>
	<key>my_team</key>
	<array>
		<dict>
			<key>abbr</key>
			<string>QB</string>
			<key>alwaysActive</key>
			<true/>
			<key>positions</key>
			<array>
				<string>QB</string>
			</array>
			<key>title</key>
			<string>Quarterback</string>
		</dict>
		<dict>
			<key>abbr</key>
			<string>RB</string>
			<key>alwaysActive</key>
			<true/>
			<key>positions</key>
			<array>
				<string>RB</string>
				<string>FB</string>
			</array>
			<key>title</key>
			<string>Running Back</string>
		</dict>
		<dict>
			<key>abbr</key>
			<string>WR</string>
			<key>positions</key>
			<array>
				<string>WR</string>
			</array>
			<key>showCombinedWRTE</key>
			<false/>
			<key>title</key>
			<string>Wide Receiver</string>
		</dict>
		<dict>
			<key>abbr</key>
			<string>TE</string>
			<key>positions</key>
			<array>
				<string>TE</string>
			</array>
			<key>showCombinedWRTE</key>
			<false/>
			<key>title</key>
			<string>Tight End</string>
		</dict>
		<!--<dict>
			<key>abbr</key>
			<string>WR/TE</string>
			<key>positions</key>
			<array>
				<string>TE</string>
				<string>WR</string>
			</array>
			<key>showCombinedWRTE</key>
			<true/>
			<key>title</key>
			<string>Wide Receiver / Tight End</string>
		</dict>-->
		<dict>
			<key>abbr</key>
			<string>K</string>
			<key>alwaysActive</key>
			<true/>
			<key>positions</key>
			<array>
				<string>K</string>
			</array>
			<key>title</key>
			<string>Kicker</string>
		</dict>
		<dict>
			<key>abbr</key>
			<string>DEF</string>
			<key>alwaysActive</key>
			<true/>
			<key>positions</key>
			<array>
				<string>DEF</string>
			</array>
			<key>title</key>
			<string>Defense</string>
		</dict>
		<dict>
			<key>abbr</key>
			<string>IDP</string>
			<key>positions</key>
			<array>
				<string>DT1</string>
				<string>DT2</string>
				<string>DE1</string>
				<string>DE2</string>
				<string>ILB1</string>
				<string>ILB2</string>
				<string>OLB1</string>
				<string>OLB2</string>
				<string>CB1</string>
				<string>CB2</string>
				<string>SS</string>
				<string>FS</string>
			</array>
			<key>title</key>
			<string>IDP</string>
		</dict>
	</array>
	<key>position_selector</key>
	<array>
		<dict>
			<key>alwaysActive</key>
			<true/>
			<key>positions</key>
			<array>
				<string>QB</string>
				<string>RB</string>
				<string>FB</string>
				<string>WR</string>
				<string>TE</string>
				<string>DEF</string>
				<string>K</string>
				<string>CB1</string>
				<string>CB2</string>
				<string>DE1</string>
				<string>DE2</string>
				<string>DT1</string>
				<string>ILB1</string>
				<string>ILB2</string>
				<string>OLB1</string>
				<string>OLB2</string>
			</array>
			<key>title</key>
			<string>All</string>
		</dict>
		<dict>
			<key>alwaysActive</key>
			<true/>
			<key>positions</key>
			<array>
				<string>QB</string>
			</array>
			<key>title</key>
			<string>QB</string>
			<key>useTier</key>
			<true/>
		</dict>
		<dict>
			<key>alwaysActive</key>
			<true/>
			<key>positions</key>
			<array>
				<string>RB</string>
				<string>FB</string>
			</array>
			<key>title</key>
			<string>RB</string>
			<key>useTier</key>
			<true/>
		</dict>
		<dict>
			<key>positions</key>
			<array>
				<string>WR</string>
			</array>
			<key>title</key>
			<string>WR</string>
			<key>useTier</key>
			<true/>
		</dict>
		<dict>
			<key>positions</key>
			<array>
				<string>TE</string>
			</array>
			<key>title</key>
			<string>TE</string>
			<key>useTier</key>
			<true/>
		</dict>
		<!--<dict>
			<key>positions</key>
			<array>
				<string>WR</string>
				<string>TE</string>
			</array>
			<key>title</key>
			<string>WR/TE</string>
			<key>useTier</key>
			<true/>
		</dict>-->
		<dict>
			<key>alwaysActive</key>
			<true/>
			<key>positions</key>
			<array>
				<string>K</string>
			</array>
			<key>title</key>
			<string>K</string>
			<key>useTier</key>
			<true/>
		</dict>
		<dict>
			<key>alwaysActive</key>
			<true/>
			<key>positions</key>
			<array>
				<string>DEF</string>
			</array>
			<key>title</key>
			<string>DEF</string>
			<key>useTier</key>
			<true/>
		</dict>
		<!--<dict>
			<key>positions</key>
			<array>
				<string>RB</string>
				<string>WR</string>
			</array>
			<key>title</key>
			<string>RB/WR</string>
			<key>alwaysActive</key>
			<true/>
		</dict>-->
		<!--<dict>
			<key>positions</key>
			<array>
				<string>RB</string>
				<string>WR</string>
				<string>TE</string>
			</array>
			<key>title</key>
			<string>RB/WR/TE</string>
			<key>alwaysActive</key>
			<true/>
		</dict>-->
		<!--<dict>
			<key>positions</key>
			<array>
				<string>QB</string>
				<string>RB</string>
				<string>WR</string>
				<string>TE</string>
			</array>
			<key>title</key>
			<string>QB/RB/WR/TE</string>
		</dict>-->
		<dict>
			<key>alwaysActive</key>
			<true/>
			<key>positions</key>
			<array>
				<string>KR</string>
				<string>PR</string>
			</array>
			<key>title</key>
			<string>KR/PR</string>
		</dict>
		<dict>
			<key>alwaysActive</key>
			<true/>
			<key>positions</key>
			<array>
				<string>CB1</string>
				<string>CB2</string>
				<string>DE1</string>
				<string>DE2</string>
				<string>DT1</string>
				<string>DT2</string>
				<string>ILB1</string>
				<string>ILB2</string>
				<string>OLB1</string>
				<string>OLB2</string>
				<string>FS</string>
				<string>SS</string>
			</array>
			<key>title</key>
			<string>IDP</string>
			<key>useTier</key>
			<true/>
		</dict>
		<!--<dict>
			<key>positions</key>
			<array>
				<string>DE1</string>
				<string>DE2</string>
				<string>DT1</string>
				<string>DT2</string>
			</array>
			<key>title</key>
			<string>DL</string>
			<key>useTier</key>
			<false/>
		</dict>
		<dict>
			<key>positions</key>
			<array>
				<string>ILB1</string>
				<string>ILB2</string>
				<string>OLB1</string>
				<string>OLB2</string>
			</array>
			<key>title</key>
			<string>LB</string>
			<key>useTier</key>
			<false/>
		</dict>-->
		<!--<dict>
			<key>positions</key>
			<array>
				<string>FS</string>
				<string>SS</string>
				<string>CB1</string>
				<string>CB2</string>
			</array>
			<key>title</key>
			<string>DB</string>
			<key>useTier</key>
			<false/>
		</dict>-->
	</array>
	<key>position_starters</key>
	<dict>
		<key>CB1</key>
		<integer>1</integer>
		<key>CB2</key>
		<integer>1</integer>
		<key>DE1</key>
		<integer>1</integer>
		<key>DE2</key>
		<integer>1</integer>
		<key>DT1</key>
		<integer>1</integer>
		<key>DT2</key>
		<integer>1</integer>
		<key>FS</key>
		<integer>1</integer>
		<key>ILB1</key>
		<integer>1</integer>
		<key>ILB2</key>
		<integer>1</integer>
		<key>K</key>
		<integer>1</integer>
		<key>OLB1</key>
		<integer>1</integer>
		<key>OLB2</key>
		<integer>1</integer>
		<key>QB</key>
		<integer>1</integer>
		<key>RB</key>
		<integer>1</integer>
		<key>SS</key>
		<integer>1</integer>
		<key>TE</key>
		<integer>1</integer>
		<key>WR</key>
		<integer>2</integer>
	</dict>
</dict>
</plist>
