<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>starters</key>
	<dict>
		<key>sections</key>
		<array>
			<dict>
				<key>items</key>
				<array>
					<dict>
						<key>title</key>
						<string>Quarterback (QB)</string>
						<key>value</key>
						<integer>1</integer>
						<key>positions</key>
						<array>
							<string>QB</string>
						</array>
					</dict>
					<dict>
						<key>title</key>
						<string>Running Back (RB)</string>
						<key>value</key>
						<integer>2</integer>
						<key>positions</key>
						<array>
							<string>RB</string>
							<string>FB</string>
						</array>
					</dict>
					<dict>
						<key>value</key>
						<integer>2</integer>
						<key>title</key>
						<string>Wide Receiver (WR)</string>
						<key>positions</key>
						<array>
							<string>WR</string>
						</array>
						<key>showCombinedWRTE</key>
						<false/>
					</dict>
					<dict>
						<key>value</key>
						<integer>1</integer>
						<key>title</key>
						<string>Tight End (TE)</string>
						<key>positions</key>
						<array>
							<string>TE</string>
						</array>
						<key>showCombinedWRTE</key>
						<false/>
					</dict>
					<dict>
						<key>value</key>
						<integer>0</integer>
						<key>title</key>
						<string>Wide Receiver / Tight End (WR/TE)</string>
						<key>positions</key>
						<array>
							<string>WR</string>
							<string>TE</string>
						</array>
						<key>showCombinedWRTE</key>
						<true/>
					</dict>
					<dict>
						<key>title</key>
						<string>Kicker (K)</string>
						<key>value</key>
						<integer>1</integer>
						<key>positions</key>
						<array>
							<string>K</string>
						</array>
					</dict>
					<dict>
						<key>title</key>
						<string>Defensive Team (DEF)</string>
						<key>value</key>
						<integer>1</integer>
						<key>positions</key>
						<array>
							<string>DEF</string>
						</array>
					</dict>
					<dict>
						<key>title</key>
						<string>Defensive Line (DL)</string>
						<key>value</key>
						<integer>0</integer>
						<key>positions</key>
						<array>
							<string>DE1</string>
							<string>DE2</string>
							<string>DT1</string>
							<string>DT2</string>
						</array>
					</dict>
					<dict>
						<key>title</key>
						<string>Linebacker (LB)</string>
						<key>value</key>
						<integer>0</integer>
						<key>positions</key>
						<array>
							<string>ILB1</string>
							<string>ILB2</string>
							<string>OLB1</string>
							<string>OLB2</string>
						</array>
					</dict>
					<dict>
						<key>title</key>
						<string>Defensive Back (DB)</string>
						<key>value</key>
						<integer>0</integer>
						<key>positions</key>
						<array>
							<string>CB1</string>
							<string>CB2</string>
							<string>FS</string>
							<string>SS</string>
						</array>
					</dict>
				</array>
				<key>title</key>
				<string>Positions</string>
				<key>isFlex</key>
				<false/>
			</dict>
			<dict>
				<key>items</key>
				<array>
					<dict>
						<key>title</key>
						<string>IDP (DL, LB, DB)</string>
						<key>value</key>
						<integer>1</integer>
						<key>positions</key>
						<array>
							<string>CB1</string>
							<string>CB2</string>
							<string>DE1</string>
							<string>DE2</string>
							<string>DT1</string>
							<string>DT2</string>
							<string>ILB1</string>
							<string>ILB2</string>
							<string>OLB1</string>
							<string>OLB2</string>
							<string>FS</string>
							<string>SS</string>
						</array>
					</dict>
					<dict>
						<key>value</key>
						<integer>0</integer>
						<key>title</key>
						<string>WR / TE</string>
						<key>positions</key>
						<array>
							<string>WR</string>
							<string>TE</string>
						</array>
						<key>showCombinedWRTE</key>
						<false/>
					</dict>
					<dict>
						<key>value</key>
						<integer>0</integer>
						<key>title</key>
						<string>RB / WR</string>
						<key>positions</key>
						<array>
							<string>WR</string>
							<string>RB</string>
						</array>
						<key>hideWRTECombined</key>
						<false/>
					</dict>
					<dict>
						<key>title</key>
						<string>RB / WR / TE</string>
						<key>value</key>
						<integer>0</integer>
						<key>positions</key>
						<array>
							<string>RB</string>
							<string>WR</string>
							<string>TE</string>
						</array>
					</dict>
					<dict>
						<key>title</key>
						<string>QB/ RB / WR / TE</string>
						<key>value</key>
						<integer>0</integer>
						<key>positions</key>
						<array>
							<string>QB</string>
							<string>RB</string>
							<string>WR</string>
							<string>TE</string>
						</array>
					</dict>
				</array>
				<key>title</key>
				<string>Flex</string>
				<key>isFlex</key>
				<true/>
			</dict>
		</array>
	</dict>
	<key>rosterLimitsVersion</key>
	<string>00000000</string>
</dict>
</plist>
